<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.last_name %> <%= user.first_name %>
  </p>

  <p>
    <strong>Point Increase:</strong>
    <%= user.get_amount_of_point_increase %>
  </p>

  <p>
    <strong>Point Decrease:</strong>
    <%= user.get_amount_of_point_decrease %>
  </p>

  <p>
    <strong>Amount of Point:</strong>
    <%= user.amount_of_point %>
  </p>
</div>
